<% if @csv_data1.any? && @csv_data2.any? %>
  <div class="container mt-4">
    <%= button_to 'Delete All Records', { action: 'delete_all' }, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary"%>
    <div class="row justify-content-start">
      <div class="col">
        <h3 class="title">Records CSV 1</h3>
        <table class="table table-light table-sm table-striped" data-controller="highlight-rows">
          <tr class="table-dark">
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
          </tr>
          <tbody>
            <% @csv_data1.each do |record| %>
              <% next if record.date.blank? && record.description.blank? && record.amount.blank?%>
              <tr data-action="click->highlight-rows#changeColor">
                <td class = "<%= record.reconciled ? 'match' : 'different'   %>">
                  <div class="row-height">
                    <%= record.date %>
                  </div>
                </td>
                <td class = "<%= record.reconciled ? 'match' : 'different'   %>">
                  <div class="row-height">
                    <%= record.description %>
                  </div>
                </td>
                <td class = "<%= record.reconciled ? 'match' : 'different'   %>">
                  <div class="row-height">
                    <%= record.amount %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col">
        <h3 class="title">Records CSV 2</h3>
        <table class="table table-light table-sm table-striped" data-controller="highlight-rows">
          <tr class="table-dark">
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
          </tr>
          <% @csv_data2.each do |record| %>
            <% next if record.date.blank? && record.description.blank? && record.amount.blank?%>
            <tr data-action="click->highlight-rows#changeColor">
              <td class = "<%= record.reconciled ? 'match' : 'different' %>">
                <div class="row-height">
                  <%= record.date %>
                </div>
              </td>
              <td class = "<%= record.reconciled ? 'match' : 'different' %>">
                <div class="row-height">
                  <%= record.description %>
                </div>
              </td>
              <td class = "<%= record.reconciled ? 'match' : 'different' %>">
                <div class="row-height">
                  <%= record.amount %>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
<% else %>
  <p>No data to display.</p>
<% end %>
