<div class="py-4">
  <%= form_with url: reconciliations_path, local: true, multipart: true do |form| %>
    <div class="form-group d-flex">
      <%= form.file_field :file1, class: 'form-control mr-2' %>
      <%= form.file_field :file2, class: 'form-control mr-2' %>
      <%= form.submit 'Upload Files', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
<% if @csv_data1.present? && @csv_data2.present? %>
  <div class="container">
    <%= button_to 'Delete All Records', { action: 'delete_all' }, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary mb-2"%>
    <div class="row justify-content-start">
      <div class="col">
        <table class="table table-light table-sm table-striped" data-controller="highlight-rows">
          <tr class="table-dark">
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
          </tr>
          <tbody>
            <% @csv_data1.each do |record| %>
              <% next if record.date.blank? && record.description.blank? && record.amount.blank?%>
              <tr data-action="click->highlight-rows#changeColor">
                <td class = "<%= record.reconciled ? 'match' : 'different'   %>">
                  <div class="row-height">
                    <%= record.date %>
                  </div>
                </td>
                <td class = "<%= record.reconciled ? 'match' : 'different'   %>">
                  <div class="row-height">
                    <%= record.description %>
                  </div>
                </td>
                <td class = "<%= record.reconciled ? 'match' : 'different'   %>">
                  <div class="row-height">
                    <%= record.amount %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col">
        <table class="table table-light table-sm table-striped" data-controller="highlight-rows">
          <tr class="table-dark">
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
          </tr>
          <% @csv_data2.each do |record| %>
            <% next if record.date.blank? && record.description.blank? && record.amount.blank?%>
            <tr data-action="click->highlight-rows#changeColor">
              <td class = "<%= record.reconciled ? 'match' : 'different' %>">
                <div class="row-height">
                  <%= record.date %>
                </div>
              </td>
              <td class = "<%= record.reconciled ? 'match' : 'different' %>">
                <div class="row-height">
                  <%= record.description %>
                </div>
              </td>
              <td class = "<%= record.reconciled ? 'match' : 'different' %>">
                <div class="row-height">
                  <%= record.amount %>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
<% else %>
  <p>No data to display.</p>
<% end %>
