<div class="py-2 mx-3">
  <%= form_with url: reconciliations_path, local: true, multipart: true do |form| %>
    <div class="form-group d-flex">
      <%= form.file_field :file1, class: 'form-control mr-2' %>
      <%= form.file_field :file2, class: 'form-control mr-2' %>
      <%= form.submit 'Upload Files', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
<% if @csv_data1.present? && @csv_data2.present? %>
  <div class="container">
    <div class="d-flex justify-content-between">
      <%= button_to 'Delete All Records', { action: 'delete_all' }, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary mb-2"%>
      <%= link_to 'Download PDF', download_pdf_reconciliations_path, class: 'btn btn-outline-primary mb-2', target: '_blank' %>
    </div>
    <%= render partial: 'tables', locals: { csv_data1: @csv_data1, csv_data2: @csv_data2 } %>
  </div>
<% else %>
  <p>No data to display.</p>
<% end %>
