<% if @user %>
  Logged in as: <%= @user.email %>
  <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-warning" %>
<% end %>

<div class="container text-center mt-5">
  <h1 class="title main-title">CSV Reconciliation</h1>
  <hr>
  <%= form_with url: finance_records_path, local: true, multipart: true do |form| %>
    <%= form.file_field :file1 %>
    <%= form.file_field :file2 %>
    <%= form.submit 'Upload Files', class:"btn btn-primary" %>
  <% end %>
</div>
