<% if @csv_data1.any? && @csv_data2.any? %>
  <div class="container mt-4">
    <%= button_to 'Delete All Records', { action: 'delete_all' }, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning"%>
    <div class="row justify-content-start">
      <div class="col">
        <h3 class="title">Records CSV 2</h3>
        <table class="table table-secondary table-sm table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Description</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <% @csv_data1.each do |record| %>
              <tr>
                <td class = "<%= @results[record] ? 'match' : 'different'  %>"><%= record.date %></td>
                <td class = "<%= @results[record] ? 'match' : 'different'  %>"><%= record.description %></td>
                <td class = "<%= @results[record] ? 'match' : 'different'  %>"><%= record.amount %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col">
        <h3 class="title">Records CSV 2</h3>
        <table class="table table-secondary table-sm table-striped">
          <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
          </tr>
          <% @csv_data2.each do |record| %>
            <tr>
              <td class = "<%= @results[record] ? 'match' : 'different'  %>"><%= record.date %></td>
              <td class = "<%= @results[record] ? 'match' : 'different'  %>"><%= record.description %></td>
              <td class = "<%= @results[record] ? 'match' : 'different'  %>"><%= record.amount %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
<% else %>
  <p>No data to display.</p>
<% end %>
